.DS_Store
node_modules/
etc/*_dev.json
etc/*.log
etc/*.pid
test_results
.env
dump.rdb
redsmin-proxy.pxm
docs/redsmin-proxy-announcment.png
docs/redsmin-proxy-announcment.pxm
test/docs.html
test/file.xml
private/
test/coverage
